/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2015, 10:02:19 PM
    Author     : Alberto Rubalcaba
*/
.mdl-layout__header-row{
    padding-left: 20%; 
    padding-right: 20%;
}
.mdl-layout__content{
    background-color: #F8F8F8;
}
.mdl-navigation__link{
    color: white;
}

#add-product-button{
    top: 70%;
    right: 20%;
}
.pager{
    top:40%;
    position: relative; 
}
.mdl-button--fab{
    margin: 0px; 
}
.new-item{
    position: fixed;
    top: 80%; 
    right: 30%;
}