<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/ip http://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd">
		
	<bean id="myProperties" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="cacheSeconds" value="1"/>
        <property name="basenames">
            <list>
                <value>file:///C:/shakepoint-tmp/properties/active-machines.properties</value>
            </list>
        </property>
    </bean>
		
	<bean id="mapper"
		class="org.springframework.integration.ip.tcp.connection.MessageConvertingTcpMessageMapper">
		<constructor-arg name="messageConverter">
			<bean
				class="org.springframework.integration.support.converter.MapMessageConverter">
				<property name="headerNames">
					<list>
						<value>correlationId</value>
						<value>sequenceNumber</value>
						<value>sequenceSize</value>
					</list>
				</property>
			</bean>
		</constructor-arg>
	</bean>

	<int:channel id="input" />
	<int:channel id="output" />
	
	<bean id="jsonSerializer"
		class="org.springframework.integration.ip.tcp.serializer.MapJsonSerializer" />
		
    <int:gateway id="gw" 
                     service-interface="com.shakepoint.plc.PlcGateway"
                     default-request-channel="input"
                     default-reply-channel="output"/>
        
    <int-ip:tcp-connection-factory id="client"
                                       type="client"
                                       host="localhost"
                                       port="666"
                                       single-use="false"
                                       so-timeout="10000"
                                       serializer="jsonSerializer"
                                       deserializer="jsonSerializer"/>
        
    <int-ip:tcp-outbound-gateway id="clientGateway"
                                     request-channel="output"
                                     connection-factory="client"
                                     request-timeout="100000"
                                     reply-timeout="100000"/>		
</beans>-->