<?xml version="1.0" encoding="UTF-8"?>
<beans:beans  xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

		<beans:bean name="failedAuthenticationHandler" class="com.shakepoint.web.auth.FailedAuthenticationHandler"/>
    <beans:bean name="successAuthenticationHandler" class="com.shakepoint.web.auth.SuccessAuthenticationHandler"/>
    <beans:bean name="restAuthSuccessHandler" class="com.shakepoint.web.auth.rest.RestAuthenticationSuccessHandler"/>
    <beans:bean name="restAuthFailureHandler" class="com.shakepoint.web.auth.rest.RestAuthenticationFailureHandler"/>
    <beans:bean name="restAuthenticationEntryPoint" class="com.shakepoint.web.auth.rest.RestAuthenticationEntryPoint"/>
    <beans:bean name="basicAuthFilter" class="com.shakepoint.web.auth.rest.BasicAuthenticationFilter">
    	<beans:property name="authManager" ref="authenticationManager" />
    </beans:bean>
    
    
    <!-- CPU SERVICE RESTFUL -->
    <security:http pattern="/rest/cpu/**" use-expressions="true" create-session="stateless" 
    			authentication-manager-ref="authenticationManager" >
    	<security:intercept-url pattern="/rest/cpu/**" access="hasRole('ROLE_SUPER_ADMIN')"/>
    	<security:form-login
    				login-processing-url="/rest/cpu/cpu_rest_security_check"
    				password-parameter="shakepoint_admin_password"
    				username-parameter="shakepoint_admin_email"
    				authentication-failure-handler-ref="restAuthFailureHandler"
    				authentication-success-handler-ref="restAuthSuccessHandler"/>
    	<security:csrf disabled="true"/>
    	
    	<security:custom-filter ref="basicAuthFilter" position="BASIC_AUTH_FILTER"/>
    </security:http>
    
    <!-- SHOP RESTFUL SERVICE -->
    <security:http pattern="/rest/shop/**" use-expressions="true" create-session="stateless" 
    			authentication-manager-ref="authenticationManager" >
    	<security:intercept-url pattern="/rest/shop/**" access="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_TECHNICIAN', 'ROLE_MEMBER')"/>
    	<security:form-login
    				login-processing-url="/rest/shop/shakepoint_rest_security_check"
    				password-parameter="shakepoint_password"
    				username-parameter="shakepoint_email"
    				authentication-failure-handler-ref="restAuthFailureHandler"
    				authentication-success-handler-ref="restAuthSuccessHandler"/>
    	<security:csrf disabled="true"/>
    	
    	<security:custom-filter ref="basicAuthFilter" position="BASIC_AUTH_FILTER"/>
    </security:http>
    
    <security:http pattern="/rest/security/**" use-expressions="true" create-session="stateless" security="none"/>
    
    <!-- Catch all Admin and Technician requests -->
    <security:http auto-config="true" use-expressions="true" pattern="/**">
    	<security:intercept-url pattern="/partner/**" access="hasRole('ROLE_TECHNICIAN')"/>
        <security:intercept-url pattern="/admin/**" access="hasAnyRole('ROLE_SUPER_ADMIN')"/>
        <security:form-login
            login-page="/signin"
            login-processing-url="/shakepoint_security_check"
			authentication-failure-handler-ref="failedAuthenticationHandler"
            authentication-success-handler-ref="successAuthenticationHandler"
            password-parameter="shakepoint_password"
            username-parameter="shakepoint_email"/>
            
        <security:logout logout-success-url="/" logout-url="/shakepoint_security_logout"/>
        <security:csrf/>
        
    </security:http>
</beans:beans>